
  
  .flower {
    /* border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
  }
  
  .flower img {
    max-width: 100%;
    height: 70%;
    border-radius: 3%;
  }
  
  .flower-details {
    margin-top: 10px;
  }
  